In [66]:
import pandas as pd
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [67]:
hotel = pd.read_csv('../hoteles/hoteles-mad-dummies.csv')
restaurantes = pd.read_csv('../restaurantes/restaurantes-mad-dummies.csv')
planes = pd.read_csv('../turismo/turismo-mad-dummies.csv')

In [68]:
planes = planes[['nombre','puntuacion','lat', 'long']]

In [69]:
hotel = hotel[['nombre','puntuacion','lat', 'long']]

In [70]:
restaurantes = restaurantes[['nombre','puntuacion','lat', 'long']]

In [71]:
madrid_mapa = pd.concat([restaurantes, hotel, planes], axis = 0)

In [73]:
madrid_mapa = madrid_mapa.reset_index(drop = True)

In [74]:
madrid_mapa.isna().sum()

nombre        0
puntuacion    0
lat           0
long          0
dtype: int64

In [75]:
madrid_mapa.to_csv('../proyecto/madrid_mapa.csv', index = False)

In [76]:
madrid_mapa.head()

                         nombre puntuacion        lat      long
0            Spicy Soul Hot Pot       5,0   40.435128 -3.684034
1         Los Montes de Galicia       5,0   40.434747 -3.668260
2              Empanadas Malvón       5,0   40.431937 -3.698437
3                     Pastamore       5,0   40.420697 -3.685145
4  Amazonia Brunch And Cocktail       5,0   40.422789 -3.703948