In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [115]:
hotel = pd.read_csv('../hoteles/hoteles-mad-dummies.csv')
restaurantes = pd.read_csv('../restaurantes/restaurantes-mad-dummies.csv')
planes = pd.read_csv('../turismo/turismo-mad-dummies.csv')
geo = gpd.read_file('../proyecto/limites-barrios-madrid.geojson')

In [116]:
planes.insert(6, 'punto', 0)

In [118]:
planes['punto'] = gpd.GeoSeries.from_xy(planes.long, planes.lat)

In [105]:
barrio = []
            
for p in planes.punto:
    
    encontrado = False
    
    for i, poly in enumerate(geo.geometry):
        if poly.contains(p):
            barrio.append(geo.name[i])
            encontrado = True
            break
            
    if not encontrado:
        barrio.append("Barrio no encontrado")

In [119]:
planes.insert(4, 'barrio', barrio)

In [121]:
hotel.insert(7, 'punto', 0)

In [122]:
hotel['punto'] = gpd.GeoSeries.from_xy(hotel.long, hotel.lat)

In [123]:
barrio1 = []
            
for p in hotel.punto:
    
    encontrado = False
    
    for i, poly in enumerate(geo.geometry):
        if poly.contains(p):
            barrio1.append(geo.name[i])
            encontrado = True
            break
            
    if not encontrado:
        barrio1.append("Barrio no encontrado")

In [126]:
hotel.insert(5, 'barrio', barrio1)

In [128]:
restaurantes.insert(7, 'punto', 0)

In [129]:
restaurantes['punto'] = gpd.GeoSeries.from_xy(restaurantes.long, restaurantes.lat)

In [130]:
barrio2 = []
            
for p in restaurantes.punto:
    
    encontrado = False
    
    for i, poly in enumerate(geo.geometry):
        if poly.contains(p):
            barrio2.append(geo.name[i])
            encontrado = True
            break
            
    if not encontrado:
        barrio2.append("Barrio no encontrado")

In [133]:
restaurantes.insert(3, 'barrio', barrio2)

In [134]:
planes = planes[['nombre','puntuacion','barrio','lat', 'long']]
hotel = hotel[['nombre','puntuacion','barrio','lat', 'long']]
restaurantes = restaurantes[['nombre','puntuacion','barrio','lat', 'long']]

In [144]:
restaurantes.insert(1,'tipo', 'Restaurante')
hotel.insert(1, 'tipo', 'Hotel')
planes.insert(1, 'tipo', 'Ocio')

In [154]:
mapa_madrid = pd.concat([restaurantes, hotel, planes], axis = 0)

In [135]:
planes.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1543 entries, 0 to 1542
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nombre      1543 non-null   object
 1   puntuacion  1543 non-null   object
 2   barrio      1543 non-null   object
 3   lat         1543 non-null   float64
 4   long        1543 non-null   float64
dtypes: float64(2), object(3)
memory usage: 360.3 KB

In [138]:
for c in planes.select_dtypes('float'):
    
    planes[c]=pd.to_numeric(planes[c], downcast='float')

In [139]:
hotel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 716 entries, 0 to 715
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nombre      716 non-null    object
 1   puntuacion  716 non-null    object
 2   barrio      716 non-null    object
 3   lat         716 non-null    float64
 4   long        716 non-null    float64
dtypes: float64(2), object(3)
memory usage: 162.6 KB

In [140]:
for c in hotel.select_dtypes('float'):
    
    hotel[c]=pd.to_numeric(hotel[c], downcast='float')

In [141]:
restaurantes.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6308 entries, 0 to 6307
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nombre      6308 non-null   object
 1   puntuacion  6308 non-null   object
 2   barrio      6308 non-null   object
 3   lat         6308 non-null   float64
 4   long        6308 non-null   float64
dtypes: float64(2), object(3)
memory usage: 1.4 MB

In [142]:
for c in restaurantes.select_dtypes('float'):
    
    restaurantes[c]=pd.to_numeric(restaurantes[c], downcast='float')

In [156]:
planes.to_csv('planes_mapa.csv', index = False)
hotel.to_csv('hotel_mapa.csv', index = False)
restaurantes.to_csv('restaurantes_mapa.csv', index = False)
mapa_madrid.to_csv('mapa_madrid.csv', index = False)