In [5]:
import pandas as pd
import numpy as np
import pandas as pd
import geopandas as gpd
import folium
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [11]:
hotel = pd.read_csv('../../hoteles/hoteles-mad-dummies.csv')
restaurantes = pd.read_csv('../../restaurantes/restaurantes-mad-dummies.csv')
planes = pd.read_csv('../../turismo/turismo-mad-dummies.csv')
geo = gpd.read_file('../../proyecto/mapa-madrid/limites-barrios-madrid.geojson')

In [12]:
planes.insert(6, 'punto', 0)

In [13]:
planes['punto'] = gpd.GeoSeries.from_xy(planes.long, planes.lat)

In [14]:
barrio = []
            
for p in planes.punto:
    
    encontrado = False
    
    for i, poly in enumerate(geo.geometry):
        if poly.contains(p):
            barrio.append(geo.name[i])
            encontrado = True
            break
            
    if not encontrado:
        barrio.append("Barrio no encontrado")

In [15]:
planes.insert(4, 'barrio', barrio)

In [16]:
hotel.insert(7, 'punto', 0)

In [17]:
hotel['punto'] = gpd.GeoSeries.from_xy(hotel.long, hotel.lat)

In [18]:
barrio1 = []
            
for p in hotel.punto:
    
    encontrado = False
    
    for i, poly in enumerate(geo.geometry):
        if poly.contains(p):
            barrio1.append(geo.name[i])
            encontrado = True
            break
            
    if not encontrado:
        barrio1.append("Barrio no encontrado")

In [19]:
hotel.insert(5, 'barrio', barrio1)

In [20]:
restaurantes.insert(7, 'punto', 0)

In [21]:
restaurantes['punto'] = gpd.GeoSeries.from_xy(restaurantes.long, restaurantes.lat)

In [22]:
barrio2 = []
            
for p in restaurantes.punto:
    
    encontrado = False
    
    for i, poly in enumerate(geo.geometry):
        if poly.contains(p):
            barrio2.append(geo.name[i])
            encontrado = True
            break
            
    if not encontrado:
        barrio2.append("Barrio no encontrado")

In [23]:
restaurantes.insert(3, 'barrio', barrio2)

In [24]:
planes = planes[['nombre','puntuacion','barrio','lat', 'long']]
hotel = hotel[['nombre','puntuacion','barrio','lat', 'long']]
restaurantes = restaurantes[['nombre','puntuacion','barrio','lat', 'long']]

In [25]:
restaurantes.insert(1,'tipo', 'Restaurante')
hotel.insert(1, 'tipo', 'Hotel')
planes.insert(1, 'tipo', 'Ocio')

In [36]:
restaurantes.head()

,nombre,tipo,puntuacion,barrio,lat,long
0,Spicy Soul Hot Pot,Restaurante,"5,0",Castellana,40.435127,-3.684034
1,Los Montes de Galicia,Restaurante,"5,0",Guindalera,40.434746,-3.668260
2,Empanadas Malv贸n,Restaurante,"5,0",Trafalgar,40.431938,-3.698437
3,Pastamore,Restaurante,"5,0",Jer贸nimos,40.420696,-3.685145
4,Amazonia Brunch And Cocktail,Restaurante,"5,0",Universidad,40.422791,-3.703948

In [26]:
mapa_madrid = pd.concat([restaurantes, hotel, planes], axis = 0)

In [27]:
planes.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1543 entries, 0 to 1542
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nombre      1543 non-null   object
 1   tipo        1543 non-null   object
 2   puntuacion  1543 non-null   object
 3   barrio      1543 non-null   object
 4   lat         1543 non-null   float64
 5   long        1543 non-null   float64
dtypes: float64(2), object(4)
memory usage: 452.2 KB

In [28]:
for c in planes.select_dtypes('float'):
    
    planes[c]=pd.to_numeric(planes[c], downcast='float')

In [29]:
hotel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 716 entries, 0 to 715
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nombre      716 non-null    object
 1   tipo        716 non-null    object
 2   puntuacion  716 non-null    object
 3   barrio      716 non-null    object
 4   lat         716 non-null    float64
 5   long        716 non-null    float64
dtypes: float64(2), object(4)
memory usage: 205.9 KB

In [30]:
for c in hotel.select_dtypes('float'):
    
    hotel[c]=pd.to_numeric(hotel[c], downcast='float')

In [31]:
restaurantes.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6308 entries, 0 to 6307
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   nombre      6308 non-null   object
 1   tipo        6308 non-null   object
 2   puntuacion  6308 non-null   object
 3   barrio      6308 non-null   object
 4   lat         6308 non-null   float64
 5   long        6308 non-null   float64
dtypes: float64(2), object(4)
memory usage: 1.8 MB

In [32]:
for c in restaurantes.select_dtypes('float'):
    
    restaurantes[c]=pd.to_numeric(restaurantes[c], downcast='float')

In [33]:
mapa = folium.Map(location=[40.4167278, -3.7033387], zoom_start=15, tiles = 'Stamen Terrain')

In [34]:
for i in range(0, len(restaurantes)):

    popup_txt = folium.Popup(restaurantes.nombre[i], restaurantes.tipo[i])

    folium.Marker([float(restaurantes.lat[i]), float(restaurantes.long[i])], 
                        popup=popup_txt,
                        icon = folium.Icon(color = 'pink')).add_to(mapa)

for i in range(0, len(hotel)):

    popup_txt = folium.Popup(hotel.nombre[i], hotel.tipo[i])

    folium.Marker([float(hotel.lat[i]), float(hotel.long[i])], 
                        popup=popup_txt,
                        icon = folium.Icon(color = 'green')).add_to(mapa)

for i in range(0, len(planes)):

    popup_txt = folium.Popup(planes.nombre[i], planes.tipo[i])

    folium.Marker([float(planes.lat[i]), float(planes.long[i])], 
                        popup=popup_txt,
                        icon = folium.Icon(color = 'green')).add_to(mapa)

In [35]:
mapa.save('../mapa-madrid/mapa.html')

In [37]:
rest = restaurantes.sample(n=10)
hoteles = hotel.sample(n=10)
ocio = planes.sample(n=10)

In [38]:
ocio.to_csv('planes_mapa.csv', index = False)
hoteles.to_csv('hotel_mapa.csv', index = False)
rest.to_csv('restaurantes_mapa.csv', index = False)
mapa_madrid.to_csv('mapa_madrid.csv', index = False)